/**************************/
/* Custom Variables */
/**************************/


/* Colors */

$primary: #dbbe66;
$secondary: #6a6868;
$third: #666666;
$lightGray: #999999;
$clearWhite: #EEEEEE; 
$blue: #3483FA;
$white: #ffffffff
 